* {
  margin: 0;
  padding: 0;
}

:root {
  --color: #fff;
  --color2: #181818;
  --background: #181818;
  --tagBackground: #fff;
}

body {
  font-family: Futura, sans-serif;
  background: var(--background);
  color: var(--color);
}

footer {
}
