.container {
  display: flex;
  margin: 0 0 50px 0;
}

.title {
  font-size: 5em;
}

p {
  text-align: justify;
  font-size: 1.1em;
}

.text1 {
  padding: 0px 40px 0px 0px;
}

.text2 {
  padding: 0 0 0 40px;
}

.places {
  background-color: white;
  color: var(--color2);
  padding: 40px;
}
