.things-to-do {
  color: var(--color);
  background-color: var(--background);
  padding: 40px;
}

.container {
  display: flex;
  margin: 0 0 50px 0;
}

.museums {
  width: 550px;
}

.text1 {
  padding: 0 40px 0 0;
}

.text2 {
  padding: 0 0 0 40px;
}

a:hover {
  color: red;
}
